/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
	font-family: 'Baskerville';
	font-style: normal;
	font-size: 80px;
	font-weight: normal;
	color: #9caca6; /*#6f7f7a*/
	margin: 7px 20px 0px 20px
}

h1:hover{
	color: #7f7f7a;
}

h2 {
	font: bold 32px "Times New Roman";
	color: #727f7a
}

p {
	font: normal 16px serif;
	color: #555
}

.copyright {
	text-align: right;
	font: normal 12px serif;
	color: #555;
}

img {
	border: 4.5px solid #9caca6;
}

a img:hover {
	border: 4.5px solid #7f7f7a;
}
}

a, a:visited {
	color: #3a82b6;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
}

hr {
	color: #cccccc;
}
